*{
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #AD6749;
  background-image: url(images/kitchen_background.jpg);
}

#top {
  height: 110px;
  padding: 35px;
  font-size: 50pt;
  text-align: center;
  text-shadow: 2px 2px 5px #767181;
}

p {
  padding: 25px;
}

section {
  background-color: #515832;
  margin-bottom: 15px;
}

section #figure-images {
  display: inline-block;
  margin: 1%;
  padding: 15px;
  vertical-align: top;
  min-height: 360px;
  align-items: center;
  border-radius: 5px;
  background-color: #2E263E;
}

#figure-images:last-child {
  float: right;
}

section img {
  padding: 0;
  border-radius: 5px;
}

section #figure-cap {
  padding: 10px;
  margin-top: 3%;
  vertical-align: top;
  border-radius: 5px;
  background-color: #AD6749;
}

article {
  margin-left: 3%;
  background-color: #AD6749; 
  display: inline-block;
  padding: 20px;
  max-width: 90%;
  font-family: 'Open Sans', sans-serif;
}

a:link {
  color: #89A700;
}
a:visited {
  color: #2C0A79;
}